<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.scau.pyx.ssp.mapper.CollectMapper">
    <insert id="insert">
        INSERT INTO T_COLLECT( USER_ID,SHARE_ID )
        VALUES ( #{userId},#{shareId} );
    </insert>
    <delete id="delete">
        DELETE FROM T_COLLECT
        WHERE SHARE_ID = #{shareId} AND USER_ID = #{userId};
    </delete>
    <select id="getCollectList" resultType="edu.scau.pyx.ssp.entity.ShareListInfo">
        SELECT S.ID AS id,
               U.`NAME` AS username,
               I.AVATAR_URL AS userAvatarUrl,
               S.TIME AS time,
               S.CONTENT AS content,
               S.LIKENUM AS likeNum,
               S.COLLECTNUM AS collectNum,
               S.COMMENTNUM AS commentNum
        FROM T_SHARE AS S,T_USER AS U,T_USER_INFO AS I,T_COLLECT AS C,T_USER AS SU
        WHERE S.USER_ID=U.ID AND U.ID=I.USER_ID AND C.SHARE_ID=S.ID AND C.USER_ID=#{userId} AND S.STATE='public' AND S.USER_ID=SU.ID AND SU.LOCKED=0
        ORDER BY C.COLLECT_TIME DESC;
    </select>
    <select id="isCollected" resultType="int">
        SELECT COUNT(*)
        FROM T_COLLECT
        WHERE USER_ID = #{userId} AND SHARE_ID = #{shareId};
    </select>
</mapper>