<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.scau.pyx.ssp.mapper.LikeMapper">
    <insert id="insert">
        INSERT INTO T_LIKE( USER_ID,SHARE_ID )
        VALUES ( #{userId},#{shareId} );
    </insert>
    <delete id="delete">
        DELETE FROM T_LIKE
        WHERE USER_ID = #{userId} AND SHARE_ID = #{shareId};
    </delete>
    <select id="isLiked" resultType="int">
        SELECT COUNT(*)
        FROM T_LIKE
        WHERE USER_ID = #{userId} AND SHARE_ID = #{shareId};
    </select>
    <select id="getList" resultType="UserListInfo">
        SELECT
            U.ID AS userId,
            U.`NAME` AS username,
            I.AVATAR_URL AS avatarUrl,
            U.LOCKED AS locked
        FROM T_USER AS U,T_USER_INFO AS I,T_LIKE AS L
        WHERE U.ID=I.USER_ID AND ROLE = 'USER' AND U.ID = L.USER_ID AND L.SHARE_ID = #{shareId};
    </select>
</mapper>