<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.scau.pyx.ssp.mapper.UserInfoMapper">
    <insert id="insertUserInfo">
        INSERT INTO T_USER_INFO ( USER_ID,AVATAR_URL )
        VALUES
            ( #{userId},'NULL' );
    </insert>
    <select id="getUserInfo" resultType="edu.scau.pyx.ssp.entity.UserInfo">
        SELECT
            GENDER AS gender,
            BIRTHDAY AS birthday,
            SELF_INTRODUCTION AS selfIntroduction,
            REGISTRATION_TIME AS registrationTime,
            AVATAR_URL AS avatarUrl,
            USER_ID AS userId
        FROM
            T_USER_INFO
        WHERE
            USER_ID = #{userId};
    </select>
    <update id="updateUserInfo">
        UPDATE T_USER_INFO
        SET
            GENDER = #{gender},
            BIRTHDAY = #{birthday},
            SELF_INTRODUCTION = #{selfIntroduction}
        WHERE
            USER_ID = #{userId};
    </update>
    <update id="uploadAvatar">
        UPDATE T_USER_INFO
        SET AVATAR_URL = #{avatarUrl}
        WHERE USER_ID = #{userId};
    </update>
</mapper>