<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.scau.pyx.ssp.mapper.UserMapper">
    <select id="getUserByUserName" resultType="edu.scau.pyx.ssp.entity.SystemUser">
        SELECT
            ID AS id,
            NAME AS name,
            PASSWORD AS password,
            LOCKED AS locked
        FROM
            T_USER
        WHERE
            NAME=#{username};
    </select>
    <select id="getUser" resultType="edu.scau.pyx.ssp.entity.SystemUser">
        SELECT
            ID AS id,
            NAME AS name,
            PASSWORD AS password,
            LOCKED AS locked
        FROM
            T_USER
        WHERE
            ID=#{userId};
    </select>
    <select id="getUserId" resultType="long">
        SELECT ID
        FROM T_USER
        WHERE NAME=#{username};
    </select>
    <insert id="insertUser">
        INSERT INTO T_USER ( `NAME`, `PASSWORD` )
        VALUES
            ( #{name}, #{password} );
    </insert>
    <update id="updateUsername">
        UPDATE T_USER
        SET `NAME` = #{username}
        WHERE ID = #{userId};
    </update>
    <update id="updateUserPassword">
        UPDATE T_USER
        SET `PASSWORD` = #{password}
        WHERE ID = #{userId};
    </update>
    <update id="updateUserLocked">
        UPDATE T_USER
        SET LOCKED = #{isLocked}
        WHERE ID = #{userId};
    </update>
    <select id="searchUser" resultType="edu.scau.pyx.ssp.entity.UserListInfo">
        SELECT
            U.ID AS userId,
            U.`NAME` AS username,
            I.AVATAR_URL AS avatarUrl
        FROM T_USER AS U,T_USER_INFO AS I
        WHERE U.ID=I.USER_ID AND U.`NAME` LIKE #{username};
    </select>
    <select id="getUserList">
        SELECT
            U.ID AS userId,
            U.`NAME` AS username,
            I.AVATAR_URL AS avatarUrl
        FROM T_USER AS U,T_USER_INFO AS I
        WHERE U.ID=I.USER_ID
        LIMIT #{begin},#{length};
    </select>
    <select id="getUserNum">
        SELECT COUNT(*)
        FROM T_USER;
    </select>
</mapper>